html {
    
    font-size: 16px;
}
body {
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to bottom, #858c90, #bbb);
    white-space: nowrap;
    margin-left: 10px;
}
.trello-list {
    border: 1px solid white;
    border-radius: 5px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 300px;
}
.trello-list h2 {
    margin: 8px;
    font-size: 15px;
    font-weight: 800;
}
/*.cards {
    margin: 0;
    padding: 0;
}*/
.card {
    list-style: none;
    font-size: 13px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    white-space: normal;
}
.card:hover {
    background-color: #f5f5ff;
}
.card:last-child {
    margin-bottom: 0px;
}

.trello-list a {
    text-decoration: none;
    color: #888888;
    font-size: 13px;
    padding: 8px 0 8px 0;
}
trell-list a:hover {
    background-color: rgb(9, 45, 66, .1);
}

header > h1, header > p {
    display: inline-block;
    height: 20px;
    padding-right: 20px;
    border-right: 1px solid black;
    vertical-align: middle;
    font-size: 20px;
}
header > p {
    padding-left: 10px;
}
header {
    position: fixed;
    top: 0px;
    left: 10px;
}
main {
    margin-top: 80px;
}