.container {
    display: grid;
    /* grid-template-rows: 1fr 800px 1fr; */
    gap: 10px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "header header header" "menu-nave, main, upcoming-events" "footer footer footer";
}

header {
    grid-area: header;
}

#menu-nav {
    grid-area: menu-nav;
}
main {
    grid-area: main;
}
#upcoming-events {
    grid-area: upcoming-events;
}
footer {
    grid-area: footer;
}
@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "menu-nav" "main" "upcoming-events" "footer"

    }
    .sub-menu {
        display: none;
    }
    #menu-nav li, #upcoming-events li {
        display: inline-block;
        margin-right: 5px;
    }
    aside#upcoming-events {
        text-align: center;

    }
    
}